/* общее оформление */

.calculator {
    margin: 50px auto;
    width: 300px;
    height: 570px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "ac de plus-minus percentage "
    "seven eight nine division "
    "four five six multiplication "
    "one two three minus"
    "zero zero dot plus"
    "theme-button theme-button equal equal";
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
}

.button {
    border-radius: 30%;
    width: 60px;
    height: 60px;
    margin: 5px;
    text-align: center;
    justify-self: center;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.button.zero {
    grid-area: zero;
    border-radius: 15px;
    width: 135px;
}

.button.theme-button {
    grid-area: theme-button;
    border-radius: 15px;
    width: 135px;
}

.button.equal {
    grid-area: equal;
    border-radius: 15px;
    width: 135px;
}

.button:hover {
    filter: brightness(130%);
}

.button:active {
    filter: brightness(75%);
}

.theme-button svg:hover {
    transform: scale(1.1);
}

.display {
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items:last baseline;
    justify-content: flex-end;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
}

/* темная тема */

.dark-theme .calculator {
    background: #000;
    color: #fff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7)
}

.dark-theme .button {
    color: #fff;
    background-color: #363636;
    box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.7);
}

.dark-theme .display {
    box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
    color: #fff; 
}

.dark-theme .button.ac,
.dark-theme .button.plus-minus,
.dark-theme .button.percentage,
.dark-theme .button.de {
    background: #878787;
}

.dark-theme .button.division,
.dark-theme .button.multiplication,
.dark-theme .button.minus,
.dark-theme .button.plus,
.dark-theme .button.equal
 {
    background: #008b8b;
}

.dark-theme .theme-button {
    background: #7FFFD4;
}

/* светлая тема */

.light-theme .calculator {
    background: #E1E1E1;
    color: #4B4B4B;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7)
}

.light-theme .button {
    color: #4B4B4B;
    background-color: #BDBCBC;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.light-theme .display {
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    color: #4B4B4B;
}

.light-theme .button.ac,
.light-theme .button.plus-minus,
.light-theme .button.percentage,
.light-theme .button.de {
    background: #4B4B4B;
    color: #E1E1E1;
}

.light-theme .button.division,
.light-theme .button.multiplication,
.light-theme .button.minus,
.light-theme .button.plus,
.light-theme .button.equal
 {
    background: #2AAA8A;
    color: #E1E1E1;
}

.light-theme .theme-button {
    background: #478778;
    color: #BDBCBC;
}
